/*--------MEDIA QUERY--------*/

@media only screen and (max-width:1099px){
    .events_part1{
        width: 100%;
    }

    .gallery{
        width: 100%;
    }

    .footer-nav{
        font-size: 14px;
    }
}

@media only screen and (max-width:900px){
    .main-nav{
        background-color: unset;
        display: none;
        flex-direction: column;
        margin-left: 30px;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        color:#545454;
    }

    .main-nav li a:hover{
        color: #ed878f;
        transition: 0.3s;
    }
    .main-nav li{
        margin-right: 0;
        width: 50%;
        padding-bottom: 15px;
    }

    .mobile-nav-icon{
       display: flex;
    }

    .banner{
        padding-top: 80px;
        text-align: center;
    }    

    .banner h1, h2{
        margin-left: 0px;
    }

    .banner h2{
        padding-left: 0px;
    }

    h1{
        font-size: 36px;
        text-align: center;
    }

    h2{
        font-size: 20px;
        text-align: center;
        
    }

    .span-1-of-3{
        width: 100%;
        font-size: 18px;
    }

    .span-1-of-2{
        width: 100%;
    }

    .images-showcase li{
        width: 50%;
    }
    .footer-nav{
        display: none;
    }

    .social-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 24px;   
    }

    .social-nav p{
        padding-bottom: 5px;
    }

    .tel-nav-mobile{
        display: inline;
        font-size: 12px;
    }
}
@media only screen and (max-width:610px){
    .banner h1{
        margin-left: 0px;
    }
    h1{
        font-size: 36px;
        text-align: center;
    }

    h2{
        font-size: 24px;
    }
  
    .images-showcase li{
        width: 100%;
    }

    .social-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;   
    }
    .social-nav{
        font-size: 20px;
    }
}